.main {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1135px;
    margin: auto;
}

.main__description {
    padding: 40px ;
}

.main__content {
    display: flex;
    gap: 20px;
}

.trending_games {
    width: 1135px;

}

.main__releasegames {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.asdasd {
    display: flex;
    width: 1135px;
    gap: 20px;
}

.main__mostplayed {
    display: flex;
    flex-direction: column;
    gap: 20px;
}