.main {
    width: 100%;
    height: 100%;
    padding: 60px 20px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1175px;
    margin: auto;
    gap: 40px;
}

.main__description {
    padding: 40px;
    text-align: center;
}

.main__content {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.trending_games {
    width: 100%;

}

.main__releasegames {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}


.asdasd {
    display: flex;
    width: 100%;
    gap: 20px;
}

.main__mostplayed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.main__newreleases {
    flex: 0 0 (66% - 10px);
    width: 66%;
}

.qweqweqwe {
    display: flex;
    flex-direction: column;
    flex: 0 0 (33% - 10px);
}

@media (max-width: 1024px) and (min-width: 769px) {
    .main {
        max-width: 940px;
    }

}

@media (max-width: 768px) and (min-width: 426px) {
    .main {
        max-width: 640px;
    }

}

@media (max-width: 600px) {
    .main {
        max-width: 405px;
    }

    .main__content {
        flex-direction: column;
    }

    .asdasd {
        flex-direction: column;
    }

    .main__newreleases {
        width: 100%;
    }
}