.main__container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.game-info_main_left-block_img {
    width: 100%;
    height: auto;
}

.game-info_main_left-block_img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.game-info_main_right-block_additional-info_items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

.game-info_main_right-block_additional-info_items_item {
    flex: 0 0 50%;
    margin-bottom: 10px;
}

.game-info_main_left-block {
    position: sticky;
    top: 100px;
    height: 300px;
    flex: 1 1 calc(33.333% - 10px);
}

.game-info_main_right-block {
    flex: 1 1 calc(66.666% - 10px);
}

.awdawdadw {
    width: 100%;
    margin-top: 10px;
    background-color: #fa9696;
    color: white;
}

.awdawdadw:hover {
    background-color: rgb(255, 116, 137);
}

.game-info_main_right-block_screenshots {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.game-info_main_right-block_screenshots_item {
    flex: 1 1 calc(33.333% - 3.333px);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.game-info_main_right-block_screenshots_item:hover {
    transform: scale(1.01);
}

.game-info_main_right-block_screenshots_item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_image {
    position: relative;
}

.modal_image img {
    max-width: 90vw;
    max-height: 90vh;
}

.modal_image button {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .game-info_main_left-block {
        position: static;
    }

    .main__container {
        flex-direction: column;
    }
}