.main__gamecard_body {
    background-color: #fa9696;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: 500;
}

.main__gamecard_img {
    width: 100%;
    height: 100%;  
}

.main__gamecard_img img{
        display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__gamecard {
    display: flex;
    flex-direction: column;
    box-shadow: -3px 3px 10px rgb(168, 93, 93);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.main__gamecard:hover {
    transform: scale(1.01);
    
}

@media (max-width: 1024px) and (min-width: 426px){
    .main__gamecard {
        flex: 0 0 calc(33.333% - 13.333px);
    }
}

@media (max-width: 426px) {
    .main__gamecard {
        flex: 0 0 100%;
        width: 100%;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .main__gamecard_body_title {
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}