.fetch-error {
    position: relative;
    display: flex;
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    background-color: brown;
    padding: 10px;
    margin-top: 60px;
    flex-direction: column;
    text-align: center;
    box-shadow: -3px 3px 10px rgb(168, 93, 93);
}

.fetch-error span {
    position: absolute;
    top: 0;
    left: 7px;
    font-size: small;

}